<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.orbithy.cms.mapper.ClassMapper">
    <select id="getStudentSectionInfo" resultType="com.orbithy.cms.data.dto.StudentSectionDTO">
        SELECT
        u.id, u.username, u.SDUId, u.major,
        IFNULL(g.regular, 0) AS regular,
        IFNULL(g.grade, 0) AS grade,
        IFNULL(g.final_score, 0) AS final_score,
        sec.number,
        sec.major AS sectionNumber
        FROM user u
        JOIN status s ON u.id = s.id
        JOIN section sec ON s.section = sec.id
        LEFT JOIN (
        SELECT * FROM grade
        <where>
            <if test="courseId != null">
                course_id = #{courseId}
            </if>
        </where>
        ) g ON u.id = g.student_id
        WHERE u.id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="searchCourses" resultType="com.orbithy.cms.data.po.Classes">
        SELECT * FROM classes
        WHERE id NOT IN (
        SELECT course_id FROM course_reg WHERE student_id = #{studentId}
        )
        <if test="keyword != null">
            AND name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="term != null">
            AND term = #{term}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        AND status = 1
        ORDER BY id DESC
    </select>
    <select id="searchTeacherCourses" resultType="com.orbithy.cms.data.dto.ClassListDTO">
        SELECT id, class_num, name, point, term, status, regular_ratio, final_ratio, type  FROM classes
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                name LIKE CONCAT('%', #{keyword}, '%')
                OR category LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="term != null and term != ''">
                AND term = #{term}
            </if>
            AND teacher_id = #{id}
        </where>
        ORDER BY id DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <update id="updateCourseSchedule">
        UPDATE classes
        SET time = #{timeSlot},
        classroom_id = #{roomId}
        WHERE id = #{id}
    </update>
</mapper>