<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.orbithy.cms.mapper.ClassMapper">
    <select id="getStudentSectionInfo" resultType="com.orbithy.cms.data.dto.StudentSectionDTO">
        SELECT u.id, u.username, u.SDUId, u.major, g.regular, g.grade, g.final_score, sec.number, sec.major AS sectionNumber
        FROM cms.user u
        JOIN cms.status s ON u.id = s.id
        JOIN cms.section sec ON s.section = sec.id
        JOIN cms.grade g ON u.id = g.student_id
        WHERE u.id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="courseId != null">
            AND g.course_id = #{courseId}
        </if>
    </select>
    <select id="searchCourses" resultType="com.orbithy.cms.data.po.Classes">
        SELECT * FROM classes
        <where>
            <if test="keyword != null">
                AND name LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="term != null">
                AND term = #{term}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
                AND status = 1
        </where>
        ORDER BY id DESC
    </select>
    <select id="searchTeacherCourses" resultType="com.orbithy.cms.data.dto.ClassListDTO">
        SELECT id, class_num, name, point, term, status, regular_ratio, final_ratio, type  FROM classes
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                name LIKE CONCAT('%', #{keyword}, '%')
                OR category LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="term != null and term != ''">
                AND term = #{term}
            </if>
            AND teacher_id = #{id}
        </where>
        ORDER BY id DESC
        LIMIT #{offset}, #{pageSize}
    </select>
</mapper>