<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.orbithy.cms.mapper.UserMapper">
    <select id="getUsernamesByIds" resultType="map">
            SELECT id, username FROM user
            <if test="ids != null and ids.size > 0">
                WHERE id IN
                <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
    </select>
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, sex, email, phone, password, SDUId, major, permission, nation, ethnic, politicsStatus)
        VALUES
        <foreach collection="list" item="user" separator=",">
            (#{user.username}, #{user.sex}, #{user.email}, #{user.phone},
            #{user.password}, #{user.SDUId}, #{user.major},
            #{user.permission}, #{user.nation}, #{user.ethnic}, #{user.politicsStatus})
        </foreach>
    </insert>

    <select id="getStudentListByPage" resultType="com.orbithy.cms.data.dto.StudentListDTO">
        SELECT u.SDUId AS SDUId, u.username, u.sex, u.major, s.grade, s.section, s.status
        FROM user u
        LEFT JOIN status s ON u.id = s.id
        WHERE u.permission = 2
        <if test="major != null and major != ''">
            AND u.major = #{major}
        </if>
        <if test="grade != null">
            AND s.grade = #{grade}
        </if>
        <if test="status != null">
            AND s.status = #{status}
        </if>
        LIMIT #{offset}, #{size}
    </select>

    <select id="countStudentList" resultType="int">
        SELECT COUNT(*)
        FROM user u
        LEFT JOIN status s ON u.id = s.id
        WHERE u.permission = 2
        <if test="major != null and major != ''">
            AND u.major = #{major}
        </if>
        <if test="grade != null">
            AND s.grade = #{grade}
        </if>
        <if test="status != null">
            AND s.status = #{status}
        </if>
    </select>

</mapper>